#task{
    background-color: whitesmoke;
    width: 70vw;
    margin: 10px;
    padding-left: 40px;
    padding-right: 15px;
}

#assignments{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.submit_btn{
    background-color: rgb(145, 145, 145);
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.empty-assignments{
    color: white;
    display: flex;
    align-self: center;
    justify-self: center;
}

.loader {    
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {to{transform: rotate(1turn)}}

#download_btn{

}

.loader{
    position: absolute;
    top: 50%;
}

.mb-5{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.submission_date{
    justify-self: end;
    color: black;
}