.anouncement{
    display: inline-flex;
    background-color: rgb(255, 0, 221);
    padding: 5px;
    margin: 0%;
    border-radius: 10px;
    max-width: 80%;
}


.anouncement-text{
    padding: 5px;
    margin: 0px 3px;
    color: black;
    width: 90%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}

sub{
    color: silver;
    align-self: self-end;
}

.anouncement-main{
    padding: 10px;
}

.textarea-admin {
    width: 600px;
    height: 50px;
    border-radius: 10px;
}

.textarea-admin::-webkit-scrollbar{ display : none;}

#vvt{
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    z-index: 3;
}

.vrc{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 430px;
    width: 100%;
    background-color: black;
    padding: 5px;
}   

.broadcast-del-btn{
    color: white;
    background-color: red;
    width: fit-content;
    padding: 3px;
    border: none;
    border-radius: 4px;
}

.textarea-submit-button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100px;
    margin: 5px;
}

#text-content{
    overflow-y: auto;
    margin: 10px;
}

.ms2{
    display: flex;
    align-items: center;
    gap: 5px;
}