#submitted_task{
    background-color: silver;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ms1{
    padding: 10px;
}

#submitted_task > a {
    background-color: white;
    padding: 5px;
    color: rgb(4, 179, 248);
}

.empty-assignments{
    color: white;
    display: flex;
    align-self: center;
    justify-self: center;
}