.forgetpass-container{
    text-align: center;
    align-items: center;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 40px;
    color: white;
}

#bock{
    color: whitesmoke;
    margin: 20px;
    text-decoration: underline;
}

.recover-btn{
   margin: 10px;
   background-color: rgb(0, 191, 255);
   color: white;
   font-weight: 700;
   padding: 5px 15px;
   border: none;
   border-radius: 5px;
}

.forgotpass-header{
    margin: 5px;
}

.forgottenpass{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
}

.forgotpass-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
}

#bmg{
    background-color: rgb(0, 180, 90);
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 3px;
}