.login-container{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}

.college-name{
  color: white;
  font-size: xxx-large;
}

.main-content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-aside{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.login-input{
  display: block;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 20px;
}

.login-title{
  color: #CC99CC;
  font-size: xx-large;
}

.signup-text{
  color: white;
}

















#alert{
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255, 0, 0, 0.199);
  padding: 15px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: red;
  animation: slidin 5s ease-in-out;
  transform: translateX(150%);
}


#loading{
  position: absolute;
  top: 46%;
  left: 50%;
  color: white;
}

.login-load{
  align-self: center;
}

.load {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.load::before,
.load::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.load::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.load::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

@keyframes slidin {
  25%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(0%);
  }
  75%{
    transform: translateX(0%);
  }
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 15px;

}

#log-btn{
  display: flex;
  justify-content: center;
}

.login-button{
  width: fit-content;
  align-self: center;
  margin: 5px;
  border: none;
  background-color: rgb(0, 153, 255);
  color: black;
  border-radius: 3px;
  padding: 5px 15px;
}

.signup-link{
  color: #CC99CC;
}