.login-container{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}

.college-name{
  color: white;
  font-size: xxx-large;
}

.main-content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-aside{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.login-input{
  display: block;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 20px;
}

.login-title{
  color: #CC99CC;
  font-size: xx-large;
}

.signup-text{
  color: white;
}

#toasted{
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255, 0, 0, 0.199);
  padding: 15px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: red;
  animation: slidin 5s ease-in-out;
  transform: translateX(150%);
}

@keyframes slidin {
  25%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(0%);
  }
  75%{
    transform: translateX(0%);
  }
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 15px;

}

.login-button{
  width: fit-content;
  align-self: center;
  margin: 5px;
}

.signup-link{
  color: #CC99CC;
}