body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    margin: 0;
}

#prof__header {
    background: #111111;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 60px; /* Assuming the header is 60px high */
}

#content {
    height: calc(100vh - 60px); /* Full height minus the header height */
}

img {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.college{
    color: white;
}

#prof__h2 {
    margin: 5px;
    color: white;
}

#prof__aside #link.active-link {
    background-color: rgba(255, 0, 0, 0.3);
    color: #ffffff; 
    font-weight: bold; 
}


header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#main__prof {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#prof__aside {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
}

#prof__section {
    width: 75vw; 
    height: 100%;
    overflow-y: auto;
}

#body {
    display: flex;
    flex-direction: row;
}

#link{
    padding: 15px 0px 15px 5px;
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 255, 255);
}