
.profile-page-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 50px;
}

.ads1{
    display: flex;
    justify-content: space-around;
    
}

.ads2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;

}

.biography{
    height: 60px;
}

.bmt{
    background-color: rgba(0, 255, 0, 0.815);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: -20%;
    left: 50%;
    padding: 10px 20px;
    animation: movin 5s ease-in-out;
}

@keyframes movin {
    20%{
        bottom: 20%;
    }
    80%{
        bottom: 20%;
    }
   
}

.save-btn{
    background-color: silver;
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    transition: 1s;
}

.save-btn:active{
    background-color: aqua;
}

.cancel-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pp-input-field, .biography{
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgb(30, 31, 44);
    color: white;
}

label{
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.ppheader{
    text-align: center;
}